@page "/help"

<div class="content-container">
    <ContentSection Title="How you can help">
        <p>Electronics donation and recycling is a great way to help conserve resources and natural materials. It is important to make sure you are donating and/or recycling electronics safely and correctly.</p>
        <p>Electronic products are made from valuable resources and materials, including metals, plastics, and glass, all of which require energy to mine and manufacture. Donating or recycling consumer electronics conserves our natural resources and avoids air and water pollution, as well as greenhouse gas emissions that are caused by manufacturing virgin materials.</p>
        <p>Manufacturers and retailers offer several options to donate or recycle electronics. Use the Consumer Technology Association (CTA) link below to find a e-waste recycler near you.</p>
        <a href="https://www.cta.tech/Landing-Pages/Greener-Gadgets" class="rc-btn help" rel="noopener noreferrer" target="_blank">View CTA Tool</a>
    </ContentSection>
</div>