@page "/"
<Hero ButtonRoute="/help" />

<div class="content-container">
    <ContentSection Title="What is E-Waste?">
        <p>
            Electronic waste or e-waste describes discarded electrical or electronic devices. Used electronics which are destined for refurbishment, reuse, resale, salvage recycling through material recovery, or disposal are also considered e-waste. Informal processing of e-waste in developing countries can lead to adverse human health effects and environmental pollution.
            Electronic scrap components, such as CPUs, contain potentially harmful materials such as lead, cadmium, beryllium, or brominated flame retardants. Recycling and disposal of e-waste may involve significant risk to health of workers and their communities.
        </p>
    </ContentSection>

    <ContentSection Title="The Dangers">
        <ul class="content__list">
            <li><span>Cadmium: </span>The inhalation of cadmium can cause severe damage to the lungs and is also known to cause kidney damage. Cadmium is also associated with deficits in cognition, learning, behavior, and neuromotor skills in children.</li>
            <li><span>Chromium: </span>A known carcinogen after occupational inhalation exposure. There is also evidence of cytotoxic and genotoxic effects of some chemicals, which have been shown to inhibit cell proliferation, cause cell membrane lesion, cause DNA single-strand breaks, and elevate Reactive Oxygen Species (ROS) levels.</li>
            <li><span>Lead: </span>Adverse effects of lead exposure include impaired cognitive function, behavioral disturbances, attention deficits, hyperactivity, conduct problems, and lower IQ. These effects are most damaging to children whose developing nervous systems are very susceptible to damage caused by lead, cadmium, and mercury.</li>
        </ul>
        <div class="content__img">
            <img src="img/skull-elements.png" alt="Deadly E-Waste Elements">
        </div>
        <p>
            Children are especially vulnerable to the health risks that may result from e-waste exposure and, therefore, need more specific protection. As they are still growing, children’s intake of air, water and food in proportion to their weight is significantly increased compared to adults, - and with that, the risk of hazardous chemical absorption. Furthermore, their bodies’ functional systems such as the central nervous, immune, reproductive and digestive system are still developing and exposure to toxic substances, by hampering further development, may cause irreversible damage. Many children are exposed to e-waste-derived chemicals in their daily life due to unsafe recycling activities that are often conducted at their home- either by family members or by the children themselves. Furthermore, children may be exposed through dump sites located close to their homes, schools and play areas.
        </p>
    </ContentSection>
</div>