<div class="navbar">
    <ul class="navbar__nav">
        <li class="navbar__logo">
            <a class="navbar__link" href="/" Match="NavLinkMatch.All">
                <span class="navbar__text"><span>R</span>ECYCLE</span>
                <i class="fad fa-arrow-to-right navbar__icon rotate--180"></i>
            </a>
        </li>
        <li class="navbar__item">
            <NavLink class="navbar__link" href="/" Match="NavLinkMatch.All">
                <i class="fad fa-skull-crossbones navbar__icon"></i>
                <span class="navbar__text">About E-Waste</span>
            </NavLink>
        </li>
        <li class="navbar__item">
            <NavLink class="navbar__link" href="/help">
                <i class="fad fa-recycle navbar__icon"></i>
                <span class="navbar__text">How to Help</span>
            </NavLink>
        </li>
        <li class="navbar__item">
            <NavLink class="navbar__link" href="/contact">
                <i class="fad fa-comments navbar__icon"></i>
                <span class="navbar__text">Contact Us</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {

}